<launch>
    <!-- Start rosserial for Arduino -->
    <node name="serial_node_teensy" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/teensy4"/>  <!-- Change to your Arduino port -->
        <param name="baud" value="250000"/>  <!-- Match your Arduino baud rate -->
    </node>

    <!-- Start your Python script -->
    <node name="encoder_controller" pkg="igv" type="odom.py" output="screen"/>
</launch>

